<div class="container-max">
          <div data-delay="4000" data-animation="slide" class="slide_product-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
            <div class="mask w-slider-mask">
              <div class="wrap_product-slider w-slide">
                <div class="card_product-slider">
                  <div class="card_slider-left">
                    <div>
                      <h2 class="heading-style-h2 larger">Shampoo <span class="symbol-and">&</span> <br>Conditioner bundle</h2>
                      <div class="spacer-small"></div>
                      <a href="#" class="button pink w-button">Shop now</a>
                    </div>
                  </div>
                  <div class="card_slider-right"></div>
                </div>
              </div>
              <div class="wrap_product-slider w-slide">
                <div class="card_product-slider">
                  <div class="card_slider-left">
                    <div>
                      <h2 class="heading-style-h2 larger">Shampoo <span class="symbol-and">&</span> <br>Conditioner bundle</h2>
                      <div class="spacer-small"></div>
                      <a href="#" class="button pink w-button">Shop now</a>
                    </div>
                  </div>
                  <div class="card_slider-right"><img src="{{ 'Rectangle-6_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1622px) 100vw, 1622px" srcset="{{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 500w, {{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 800w, {{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 1080w, {{ 'Rectangle-6_1.avif' | asset_url }} 1622w" alt="" class="img_card-slider"></div>
                </div>
              </div>
              <div class="wrap_product-slider w-slide">
                <div class="card_product-slider">
                  <div class="card_slider-left">
                    <div>
                      <h2 class="heading-style-h2 larger">Shampoo <span class="symbol-and">&</span> <br>Conditioner bundle</h2>
                      <div class="spacer-small"></div>
                      <a href="#" class="button pink w-button">Shop now</a>
                    </div>
                  </div>
                  <div class="card_slider-right"><img src="{{ 'Rectangle-6_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1622px) 100vw, 1622px" srcset="{{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 500w, {{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 800w, {{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 1080w, {{ 'Rectangle-6_1.avif' | asset_url }} 1622w" alt="" class="img_card-slider"></div>
                </div>
              </div>
              <div class="wrap_product-slider w-slide">
                <div class="card_product-slider">
                  <div class="card_slider-left">
                    <div>
                      <h2 class="heading-style-h2 larger">Shampoo <span class="symbol-and">&</span> <br>Conditioner bundle</h2>
                      <div class="spacer-small"></div>
                      <a href="#" class="button pink w-button">Shop now</a>
                    </div>
                  </div>
                  <div class="card_slider-right"><img src="{{ 'Rectangle-6_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1622px) 100vw, 1622px" srcset="{{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 500w, {{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 800w, {{ 'Rectangle-6_1Rectangle-6.avif' | asset_url }} 1080w, {{ 'Rectangle-6_1.avif' | asset_url }} 1622w" alt="" class="img_card-slider"></div>
                </div>
              </div>
            </div>
            <div class="slider-arrow w-slider-arrow-left">
              <div class="w-icon-slider-left"></div>
            </div>
            <div class="slider-arrow w-slider-arrow-right">
              <div class="w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Bundles Slider",
    "class": "section hero",
    "presets": [
        {
            "name": "Bundles Slider",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}