<div class="container-max">
          <div class="spacer-medium"></div>
          <div class="wrap_benefits-graphic">
            <div class="wrap_benefits left">
              <div class="block_benefits text-red">
                <div class="img_benefit icon"><img src="{{ 'Vegan-2.avif' | asset_url }}" loading="lazy" alt="" class="img-inner"></div>
                <div class="text-red">Vegan</div>
              </div>
              <div class="block_benefits text-red">
                <div class="img_benefit icon"><img src="{{ 'recycle-2.avif' | asset_url }}" loading="lazy" alt="" class="img-inner"></div>
                <div>Recyclable<br>packaging</div>
              </div>
              <div class="block_benefits text-red">
                <div class="img_benefit icon"><img src="{{ 'NO-SLS-2.avif' | asset_url }}" loading="lazy" alt="" class="img-inner"></div>
                <div>Sls free</div>
              </div>
            </div>
            <div class="contain_side-gfx"><img src="{{ 'side-graphic-red.svg' | asset_url }}" loading="lazy" alt="" class="side-grphc flipped"></div>
            <div class="line_dotted red"></div>
            <div class="img_sustain-product"><img src="{{ 'conditioner-png_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="{{ 'conditioner-png_1conditioner-png.avif' | asset_url }} 500w, {{ 'conditioner-png_1.avif' | asset_url }} 1500w" alt="" class="img_hero-jar"></div>
            <div class="line_dotted red"></div>
            <div class="bg-gradient-light dark"></div>
            <div class="contain_side-gfx"><img src="{{ 'side-graphic-red.svg' | asset_url }}" loading="lazy" alt="" class="side-grphc"></div>
            <div class="wrap_benefits">
              <div class="block_benefits text-red">
                <div class="img_benefit circle red"><img src="{{ 'Ellipse-9.avif' | asset_url }}" loading="lazy" alt="" class="img-inner"></div>
                <div>Exosomes</div>
              </div>
              <div class="block_benefits text-red">
                <div class="img_benefit circle red"><img src="{{ 'Ellipse-10.avif' | asset_url }}" loading="lazy" alt="" class="img-inner"></div>
                <div>Coconut<br>complex</div>
              </div>
              <div class="block_benefits text-red">
                <div class="img_benefit circle red"><img src="{{ 'Ellipse-6.avif' | asset_url }}" loading="lazy" alt="" class="img-inner"></div>
                <div>Natural</div>
              </div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "FAQ Graphic",
    "class": "section hero",
    "presets": [
        {
            "name": "FAQ Graphic",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}