<div class="container-max">
          <div class="hero_content">
            <h1 no-flicker="true" word-split="true" class="heading-style-h1">Nurture your roots.<br>Activate your growth.</h1>
            <div data-w-id="729619e4-82cb-2afd-f32d-39fc948e436e" class="home_product-intro">
              <div class="contain_product-intro-img"><img src="{{ 'shampoo-whip-png_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="{{ 'shampoo-whip-png_1shampoo-whip-png.avif' | asset_url }} 500w, {{ 'shampoo-whip-png_1.avif' | asset_url }} 1500w" alt="" class="img_product-intro left">
                <a no-flicker="true" button-slide="true" href="#" class="button pink w-button">Hair candy shampoo</a>
              </div>
              <div class="contain_product-intro-img"><img src="{{ 'conditioner-png_1.avif' | asset_url }}" loading="lazy" sizes="(max-width: 1500px) 100vw, 1500px" srcset="{{ 'conditioner-png_1conditioner-png.avif' | asset_url }} 500w, {{ 'conditioner-png_1.avif' | asset_url }} 1500w" alt="" class="img_product-intro right">
                <a no-flicker="true" button-slide="true" href="#" class="button pink w-button">Hair candy conditioner</a>
              </div>
            </div>
          </div>
          <div class="bg-gradient-light"></div>
        </div>
        <div class="container-max">
          <div class="spacer-xxxl"></div>
          <div class="grid-benefits">
            <div class="benefit_circle">
              <div>Cleanse</div>
            </div>
            <div class="benefit_circle">
              <div>Stimulate</div>
            </div>
            <div class="benefit_circle">
              <div>Seal in<br>growth</div>
            </div>
          </div>
        </div> {% schema %} {
    "tag": "section",
    "name": "Intro",
    "class": "section hero",
    "presets": [
        {
            "name": "Intro",
            "category": "Liquify",
            "blocks": []
        }
    ]
} {% endschema %}